/* Estilos globales para páginas
.page-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.page-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.page-container p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
} */